body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  min-height: 100%;
}


.div-anime {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: myfirst 10s 2;
  animation-direction: alternate;
}

@keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: rgba(0, 0, 255, 0.644); left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
}


.w3-bar .w3-button {
  padding: 16px;
}

.ipsType_right {
    text-align: right;
  }
  .ipsType_center {
    text-align: center;
  }
  .cInnerContent {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .ipsSpacer_bottom_double {
    margin-bottom: 30px;
  }
  .ipsGrid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .ipsGrid::before, .ipsGrid::after {
    display: table;
    content: "";
    line-height: 0;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
  }
  .ipsGrid > .ipsGrid_span5 {
    width: 40.42553191489362%;
  }
  .ipsGrid > .ipsGrid_span7 {
    width: 57.44680851063829%;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    float: left;
    margin-left: 2%;
  }
  .ipsGrid > [class*="ipsGrid_span"]:first-child {
    margin-left: 0;
  }
  .feature {
    display: flex;
    align-items: center;
  }
  .card {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
  /*   transition: 0.3s; */
  }
  .featured-image-container .card {
    padding: 10px;
    height: 0;
    padding-bottom: calc(100% - 10px);
  }
  h2.heading_large {
    font-size: 1.8em;
  }
  img {
    max-width: 100%;
  }
  
  .header-section {
    margin: 100px auto;
  }
  
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
    font-size: 22px;
    font-weight: 525;
    font-family: 微軟正黑體, sans-serif;
    font-style: inherit;
  }
  .ipsType_right{
    text-align:left;
  }
  @media screen and (max-width:800px){
    .header-section {
      margin: 30px auto;
    }
    .gs_reveal {
      font-size: 18px;
      font-weight: 425;
    }
    .ipsGrid {
      display: inline-block;
      display: -ms-flexbox;
      display: flex;
      flex-flow: column;
      
    }
    .ipsGrid::before, .ipsGrid::after {
      display: table;
      content: "";
      line-height: 0;
    }
    .ipsGrid > [class*="ipsGrid_span"] {
      display: block;
      width: 100%;
      min-height: 30px;
      box-sizing:border-box;
    }
    .ipsGrid > .ipsGrid_span5 {
      order: 1;
      width: 40.42553191489362%;
    }
    .ipsGrid > .ipsGrid_span7 {
      order: 2;
      width: 57.44680851063829%;
    }
    .ipsGrid > [class*="ipsGrid_span"] {
      float: left;
      margin-left: 2%;
    }
    .ipsGrid > [class*="ipsGrid_span"]:first-child {
      margin-left: 0;
    }
    .featured-image-container .card {
      margin-left: -50px ;
      padding: 10px;
      height: 0;
      padding-bottom: calc(200% - 55%);

    }
    .card {
      width: 150%;
      height: 150%;
      margin-bottom: 30px;
      border: 1px solid #cccccc;
      border-radius: 8px;
      overflow:visible;
      background: #ffffff;
      box-shadow: 1px 1px 5px 1px #CCCCCC;
    /*   transition: 0.3s; */
    }
  }
  
